hts-cache/
cookies.txt
hts-log.txt
backblue.gif
fade.gif
/index.html
node_modules/
.wrangler/
htjwc.weebly.com/functions/
.dev.vars
*.log
_dump_tmp.json
course_summary_utf8.txt
extract_aiga2_stdout.txt
extract_result_console.txt
